argon2==0.1.10
cryptography==46.0.3
curio==1.6
cython==3.2.1
email_validator==2.1.1
eval_type_backport==0.3.0
exceptiongroup==1.3.1
fastapi_cli==0.0.16
httpx==0.28.1
hypothesis==6.148.3
itsdangerous==2.2.0
Jinja2==3.1.6
multipart==1.3.0
orjson==3.11.4
outcome==1.3.0.post0
PySide6==6.10.1
pytest==9.0.1
python-dotenv==1.2.1
python_jose==3.3.0
python_multipart==0.0.20
PyYAML==6.0.2
PyYAML==6.0.3
rich==14.2.0
toml==0.10.2
tomli==2.3.0
trio==0.32.0
ujson==5.10.0
